[Database]
# Connection String Format: http://docs.sqlalchemy.org/en/rel_0_9/core/engines.html
connection_string = sqlite:///db.sqlite

[IRC]
host = irc.network.example.com
port = 6697
tls = true
channel = #your #channels #here
nick = botbot
trigger = $
maxlines = 5
maxlen = 1000
ignore = ignored users here

[Webhooks]
host = 0.0.0.0
port = 4434

[System]
debug = yes
die_password = a_password
owner = tbrb
repo = https://github.com/hreeder/botbot
redis_url = redis://localhost:6379/0
redis_prefix = botbot-
plugin_dirs = /home/skull/dev/botbot-plugins
plugin_blacklist = 

[Links]
mode = whitelist
channels = #your #whitelisted #channels
max_length = 120

[Slack]
listen = 
api_key = 
webhook = 

[LastFM]
key = 
secret = 

[Yandex]
translate_key = 

[OpenWeatherMap]
key = 

[Feeds]
active = dsa
dsa_url = https://www.debian.org/security/dsa
dsa_channels = #yourchannel
dsa_method = hash
