[IRC]
host = your.irc.host
port = 6697
channel = #channel
nick = bot
tls = True
trigger = !

[Webhooks]
host = 0.0.0.0
port = 4434

[System]
debug = yes
die_password = a_password
owner = your_name
repo = https://github.com/hreeder/botbot
redis_url = redis://localhost:6378/0
redis_prefix = botbot-
command_blacklist = slackwho
pm_command_blacklist =
hook_blacklist =

[Slack]
listen = #one #two
api_key = xoxp-your-api-key
webhook = https://hooks.slack.com/services/blah/blah/blah
one_target = #general
two_target = #tardis

[LastFM]
key = keykeykeykeykey
secret = secretsecretsecret

[Yandex]
translate_key = trnsl.1.1.blah.blah.blah

[OpenWeatherMap]
key = keykeykeykeykey