tornado==4.5.2
pydle==0.8.3
Pint==0.7.2
PyGithub==1.29
backports-abc==0.4
beautifulsoup4==4.5.3
chardet==2.3.0
decorator==4.0.6
feedparser==5.2.1
flake8==2.5.4
ipython-genutils==0.1.0
mccabe==0.4.0
paho-mqtt==1.2
pep8==1.7.0
pike==0.1.1
pluginbase==0.5
pyflakes==1.0.0
pylast==1.4.2
redis==2.10.3
requests==2.9.1
rfc3987==1.3.7
six==1.10.0
slacker==0.9.0
traitlets==4.0.0
urbandictionary==1.1
dnspython==1.15.0
raven==6.4.0
